dist: trusty
sudo: required
language: generic
services:
  - docker

matrix:
  include:
  - env: GHCVER=8.2.2 CABALVER=1.24 STACKVER=1.7.1
  - env: GHCVER=8.2.2 CABALVER=2.0 STACKVER=1.7.1
  - env: GHCVER=8.4.3 CABALVER=1.24 STACKVER=1.7.1
  - env: GHCVER=8.4.3 CABALVER=2.0 STACKVER=1.7.1
script:
- bin/ci
notifications:
  slack:
    secure: NCMqyTn3YhO/FXwdgPo4VqojX7P9MFyt+ORr5VUluvtqWNw1bazu/8d6nAY8sIIz0rI1O+J7Fo7qpWuwPCOxu5vjWPd/GIWsGHWXNyXBo7cf09oEUv+ykMasGZ1gNnzuO9zaEScHfZrcGQF/pb6ykm/en4MJ2EAvBYNcWIpgFwXALHQqyAcUnfMCUWf3Hi0nOoCkGuLgFflHPPlMahn2GVd18J/K2gENq6R2oJNcE2l/e/8WzbJKTKxSC4/XC7PptYn6s2cE9oYRRmqDr+iOGhIsH0mU4+hpsvN+gNZbA7cr+M9lYjnj6cbYhbSjfQSJu3bd8CPWzt6fu4AhcbHS1b08U9Sp5V/J1oIW6z5PzlcGVnMCzdiChKxBMVOSWut627FM+hCHPUzEUxWoKhZzA2nXvgyZC+5GFIM02WxmkxB/I7UrjQmY9rYmNxi6VVkUsG2bTUMdySPGTeJPvOvznYd+omuevLSYct02jL95vVYpH8MaC0qoJ7uWUcR/D8NGbY9v5ry6LT4MGKmGWHT59iIHx3+plpvHRMk4fexzRovIE4JHwaO5TZdk0Y8E43iezK+H2VSXkbcVslkAGBTQdXCymczofyQnxoM8KE1+oIKeTxd+YQe36ud+t9k01QgvVoUfsUuC80UqI/XVSqafugJLlC1yd6VKbVa0rXqivtM=
